/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Акценты #2196F3 */
/* Белый #ffffff */
/* Цвет фона кнопки #F5F4FA */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-bg-color: #f5f4fa;
  --white: #ffffff;
}
body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
ul li a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
/* Шапка сайта */
/* .header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: var(--white);
} */
.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.blue-logo {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact-list .link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
/* Главный блок */
.hero {
  background-color: var(--secondary-bg-color);
  width: 1600px;
  height: 600px;
}
.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* Особенности */
.section {
  color: var(--main-text-color);
}
.peculiarities-title {
  display: none;
}
.peculiarities-list .title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities-list .paragraphly {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-team .member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team .profesion {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.section-portfolio .title {
  display: none;
}
.btn {
  background-color: var(--btn-bg-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-list .project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/* Подвал сайта */
.footer {
  color: var(--white);
  background-color: var(--secondary-bg-color);
  width: 1600px;
  height: 252px;
}
.footer .logo {
  color: var(--white);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.address-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
  text-decoration: underline;
}
